.bdep/

# Compiler/linker output.
#
*.d
*.t
*.i
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc

*.l
*.l.cpp-options

# Generated documentation.
#
*.pdf
*.ps

# Generated build system files.
#
*-dynamic.make
Makefile
odb/config.h
odb/config.h.in
odb/details/config.h
odb/details/stamp-h2
/config

# Generated .gitignore files.
#
.gitignore
